<footer class="page-footer font-small bg-secondary pt-4 fixed-bottom">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Nos siga nas redes sociais:</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/amandioca/" target="_blank" class="iconLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>                       
                    </li>

                    <li>
                        <a href="https://github.com/amandioca" target="_blank" class="iconGithub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>                       
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2021:</span>
            <a href="https://github.com/amandioca" target="_blank" class="text-light"> Amanda Amorim</a>
    </div>
</footer>