ul.social-network{
    list-style: none;
    padding: 0%;
}

ul.social-network li{
    display: inline;
    padding: 5px;
}

.bg-black{
    background-color: black;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-linkedin-square:hover{
    color: black;
}

.fa-github:hover{
    color: black;
}