<div class="container-fluid">

    <div class="row bg-black align-items-center pt-5">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h5 class="fs-24 mb-0">
                    welcome back,</h5>
                    
                    <h1 class="fs-54 font-weight-bolder">
                    {{name}}!</h1>
                    
                    <h5 class="fs-18">
                    express your opinions, thoughts and ideas here!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2" 
                    data-toggle="modal" 
                    data-target="#newPosts"> 
                    new post</button>

                    <a class="btn btn-outline-light" 
                    href="#posts"> 
                    view</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img 
            src="../../assets/img/conversation-1.png" 
            alt="mensagens enviadas"
            width="500px"
            height="500px">
        </div>
    </div>
</div>

<div class="container mb-5 mt-5" id="posts">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center font-weight-bold" 
        id="nav-tab" 
        role="tablist">
            <a class="nav-link active text-secondary"
            id="nav-home-tab" 
            data-toggle="tab" 
            href="#allPosts" 
            role="tab" 
            aria-controls="nav-allPosts" 
            aria-selected="true">
            all posts</a>

            <a class="nav-link text-secondary font-weight-bold" 
            id="nav-profile-tab"
            data-toggle="tab" 
            href="#myPosts" 
            role="tab" 
            aria-controls="nav-myPosts" 
            aria-selected="false">
            my posts</a>

            <a class="nav-link text-secondary font-weight-bold" 
            id="nav-contact-tab" 
            data-toggle="tab" 
            href="#byTheme" 
            role="tab" 
            aria-controls="nav-byTheme" 
            aria-selected="false">
            by theme</a>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" 
        id="nav-allPosts" 
        role="tabpanel" 
        aria-labelledby="nav-allPosts-tab">
        all posts</div>

        <div class="tab-pane fade" 
        id="nav-myPosts" 
        role="tabpanel" 
        aria-labelledby="nav-myPosts-tab">
        my posts</div>

        <div class="tab-pane fade" 
        id="nav-byTheme" 
        role="tabpanel" 
        aria-labelledby="nav-byTheme-tab">
        posts by theme</div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" 
id="newPosts" 
tabindex="-1" 
aria-labelledby="modalCreatePost" 
aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title d-flex align-items-center" id="modalCreatePost">
                create post</h5>

                <button type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="text">
                    text</label>

                    <textarea class="form-control" 
                    id="text" 
                    name="text" 
                    rows="5" 
                    placeholder=""></textarea>
                </div>

                <div class="form-group">
                    <label for="theme">choose a theme or 
                        <a data-dismiss="modal" routerLink='/theme'>
                        register a new theme</a>
                        : </label>

                    <select class="form-control" 
                    id="theme" 
                    name="theme">
                        <option value="">themes</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <!--<button 
                type="button" 
                class="btn btn-secondary" 
                data-dismiss="modal">
                close</button>-->

                <button 
                type="submit" 
                class="btn btn-primary btn-lg btn-block">
                post</button>
            </div>
        </div>
    </div>
</div>